POSTGRES_ADMIN=
POSTGRES_ADMIN_PASSWORD=
POSTGRES_PORT=

POSTGRES_USER_SERVICE_DB=
POSTGRES_POSTS_SERVICE_DB=
POSTGRES_USER_SERVICE_DATABASE_URL=postgresql://<USER>:<PASSWORD>@localhost:<PORT>/<DB>?schema=public
POSTGRES_POSTS_SERVICE_DATABASE_URL=postgresql://<USER>:<PASSWORD>@localhost:<PORT>/<DB>?schema=public
USER_SERVICE_COOKIE_SECRET=

REDIS_PORT=

PORT_FRONTEND=
PORT_USERS_SERVICE=
PORT_POSTS_SERVICE=
PORT_MEDIA_SERVICE=

INTERNAL_USER_SERVICE_URL=http://localhost:<PORT>