{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "printWidth": 100,
    "endOfLine": "lf",
    "useTabs": true,
    "bracketSpacing":true,
    "arrowParens":"always",
    "jsxSingleQuote": true,
    "singleAttributePerLine": true
}